@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}



body {
	margin:  0;
	background-color: #e0e0e0;
}

header {
	margin: 29px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1249px;
    height: 89px;
	background-color: #000000;

}

.site-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	padding: 0;
	margin: 0;
    min-height: 89px;
    min-width: 466px;
}

.site-menu > ul{
	display: flex;
	list-style:  none;
	justify-content: center;
	align-items: center;
	font-size: 14px;

	color: #E0E0E0;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
 }


.site-menu li {
	display: flex;
	padding: 0 25px;
    justify-content: center;
	align-items: center;
     min-height: 89px; 
	}


.site-menu a {
	display: flex;
	align-items: stretch;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	max-width: 466px;
    height: 25px;
    text-decoration: none;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
}


.site-menu li:hover {
   
    background-color: #FF3F40;
}

.page1 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1249px;
      margin: 0 auto;
      padding: 100px;
      padding-right: 1wv;
      padding-left: 1wv;
      
}

.page1-text {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-right: 70px;
}

.image {
	box-shadow: 0 0 20px rgb(116, 110, 110);
	
}

h1 {
	margin: 0;
	font-size: 60px;
	line-height: 1.2;
	letter-spacing: 1.5px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 36px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 800;	}

.text {
      display: inline-block;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 400;
      max-width: 545px;
      margin-bottom: 64px;
      font-size: 16px;
      line-height: 1.75;
      opacity: 0.7; /*#FF2D2D*/
}

.link {
	 
	 display: inline-block;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     font-weight: 700;
     background-color: #FF2D2D; 
	 color: #FFFFFF;
	 width: 227px;
	 border-radius: 5px;
	 padding: 22px 0;
     text-align: center;
     font-weight: bold;
     text-decoration: none;
}



.image {
    display: inline-block;
    width: 551px;
    height: 356px;
}

.page2 {
     
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
      max-width: 1249px;
      margin: 0 auto;
      padding: 107px;
      background-color: #F2F2F2;
}

.page2-text {
	
	max-width: 540px;
	margin-right: 70px;}

.page2-name {
	margin: 0;
	max-width: 523px;
	font-size: 43px;
	line-height: 1.27;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;}

.description {
	  display: inline-block;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 400;
      max-width: 539px;
      margin-bottom: 64px;
      font-size: 16px;
      line-height: 1.75;
      /*opacity: 0.7;*/ }

.page2-button {
	
	box-sizing: border-box;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 227px;
	padding: 16px 0;
	text-align: center;
	font-size: 18px;
	color: #FF2D2D;
	font-weight: 600;
    border: 2px solid #FF0000;
    text-decoration: none;
    border-radius: 5px;
	
}

.page2-blocks {
	 
	 display: flex;
	 flex-wrap: wrap;
     max-width: 610px;
   
}


.block-management-name {
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 24px;
      
}

.block-management-name::before {
	content: url('../images/managment.png');
	display: block;
	width: 37px;
	height: 37px;
	margin-bottom: 32px;

}

.block-management-text {
	max-width: 301px;
	margin-bottom: 51px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-right: 18px;
}

.block-design-name {
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 24px;
      
}

.block-design-name::before {
	content: url('../images/design.png');
	display: block;
	width: 37px;
	height: 40px;
	margin-bottom: 32px;

}

.block-design-text {
	max-width: 287px;
	margin-bottom: 51px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}


.block-logo-name {
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 24px;
      
}

.block-logo-name::before {
	content: url('../images/logo.png');
    display: block;
	width: 44px;
	height: 36px;
	margin-bottom: 37px;
}


.block-logo-text {
	max-width: 301px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-right: 18px;
}


.block-animation-name {
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 24px;

      
}

.block-animation-name::before {
	content: url('../images/animation.png');
	display: block;
	width: 41px;
	height: 36px;
	margin-bottom: 41px;
}


.block-animation-text {
	
	max-width: 287px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.page3 {
     
      display: flex;
      flex-wrap: wrap;
      max-width: 1249px;
      margin: 0 auto;
      padding: 107px;
      background-color: #F2F2F2;
}

.page3-text {
	
	text-align: center;
	width: 100%;
	margin-bottom: 67px;
}

.page3-name {
	margin: 0;
	font-size: 42px;
	line-height: 1.27;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 28px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.page3-description {
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 400;
      max-width: 537px;
      margin-bottom: 124px;
      font-size: 16px;
      line-height: 1.75;
      margin: 0 auto 34px;

      /*opacity: 0.7;*/ }


.line-red {
	background-color: #FF2D2D;
	width: 134px;
	height: 5px;
	border: none;
 }

.page3-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 54px;
    min-height: 24px;
    min-width: 922px;

      /*margin-left: -20px;*/
	/*background-color: #000000;*/
}


.page3-menu li {
	display: flex;
	
    justify-content: center;
	align-items: center;
	/*padding: 0 25px;
     min-height: 89px;*/ 
      list-style-type: none;
	}

.link-active {
	color: #FF2D2D;

}

.link-active:hover {
	color: #FF2D2D;
}

.page3-menu a {
	position: relative;
	margin-left: 55px;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #000000;
	/*max-width: 466px;
    height: 25px;*/
    text-decoration: none;
      
}

	
.products {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	/*margin-bottom: 120px;*/
}

.foto {
	flex: 1 1 24%;
	max-width: 300px;
	height: 300px;
	min-width: 200px;
	margin-bottom: 20px;
}

.page4 {
     
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 auto;
      /*padding: 107px;*/
      padding-bottom: 107px;
      padding-top: 15px;
      padding-left: 107px;
      padding-right: 107px;
      max-width: 1249px;
      background-color: #F2F2F2;
     
}

.page4-text {
	width: 100%;
	text-align: left;
	margin-bottom: 67px;
}

.page4-name {
	margin: 0;
	/*max-width: 523px;*/
	font-size: 42px;
	line-height: 1.27;
	letter-spacing: 0.38px;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.page4-description {
	  /*display: inline-block;*/
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 400;
      max-width: 480px;
      /*margin-bottom: 124px;*/
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0;
      margin-bottom: 66px;

      /*opacity: 0.7;*/ }

.line2 {
	margin-left: 0;
}


.team {
	width: 100%;
	display: flex;
	align-items: stretch;
    align-content: space-between;
	min-height: 462px;
	max-width: 1301px;
}

.lead {
	width: 324px;
	height: 460px;
	background-color: #eb6d4a8f;
}

.team-description {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}

.team-description1 {
     display: flex;
     justify-content: space-between;
	 flex-direction: column;
	 align-self: start;
	 position: relative;
	 max-width: 663px;
	 padding-left: 77px;
}

.team-name {
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: 0.28px;
      margin: 0;
      margin-bottom: 30px;

}

.about {
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
      margin-bottom: 47px;

}

.team-link {
     color: #000000;
	 font-size: 18px;
	 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	 font-style: italic;
	 text-decoration: none;
	 margin-right: 30px;
}

.people {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 77px;

}

.people1 {
margin-right: 10px;
/*margin-top: 20px;*/
}


.people1:hover > .people1-name {
	visibility: visible;
}

.people1-foto {
	display: block;
	width: 197px;
	height: 214px;
	background-color: #d4dce680;
}

.people1-name {
	display: flex;
    align-items: center;
    position: absolute;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #000000;
    visibility: hidden;
    bottom: 0;
    max-height: 37px;
    width: 198px;
    opacity: 50%;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.page5 {
    /* display: block;
     max-width: 1249px;
     background-color: #2C2C2C;
     padding-top: 106px;
     padding-bottom: 104px;
     padding: 130px;*/
     
      box-sizing: border-box;
      display: block;
      /*flex-wrap: wrap;

      justify-content: space-between;
      align-items: flex-start;*/
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 140px;

      max-width: 1470px;
      background-color: #2C2C2C;
     

}

.page5-text {
	text-align: center;
	max-width: 1249px;
	margin: 0 auto;
	/*max-height: 84px;*/

}

.page5-name {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.05px;
    color: #FFFFFF;
    text-align: center;
    /*padding-bottom: 17px;*/
     /*margin: 151px;*/
     text-transform: none;
     line-height: 55px;
     margin-bottom: 30px;
 }

.page5-description {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 57px;
    opacity: 0.8;
     /*margin: 151px;*/
}

.subscribe-form {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;
}

.input {
	color: #8e8e8e;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	flex: 0 1 521px;
	min-height: 82px;
	padding: 0;
	padding-left: 35px;
	padding-right: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 19px;
	margin-bottom: 15px;
	background-color: #FFFFFF;
}

.subscribe-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	width: 217px;
	min-height: 82px;
	background-color: #FF2D2D;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

.page6 {
     
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 auto;
      /*padding: 107px;*/
      padding-bottom: 107px;
      padding-top: 95px;
      /*padding-left: 107px;
      padding-right: 107px;*/
      max-width: 1463px;
      background-color: #F2F2F2;
}

.page6-text {
	max-width: 740px;
	padding-left: 164px;

}

.page6-name {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 0.38px;
    color: #000000;
    text-align: left;
    /*padding-bottom: 17px;*/
     /*margin: 151px;*/
     text-transform: none;
     text-transform: uppercase;
     margin: 0;
}

.page6-description {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding-bottom: 50px;
    line-height: 1.75;

}

.page6-forms {

		margin-right: 0;
		margin-top: 73px;
		padding-right: 104px;
	}

.page6-forms-form1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.feedback {
	/*color: #8e8e8e;*/
	box-sizing: border-box;
	padding-left: 54px;
	padding-right: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
	margin-bottom: 45px;
}

.feedback-name {
    display: flex;
	align-items: center;
	font-size: 16px;
	width: 300px;
	height: 69px;
	background-color: #e4e1e1;
}


.feedback-mail {
    display: flex;
	align-items: center;
	font-size: 16px;
	width: 300px;
	height: 69px;
	background-color: #e4e1e1;
}

.feedback-message {
    resize: none;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	width: 100%;
	max-width: 731px;
	height: 252px;
	box-sizing: border-box;
	padding: 35px 54px;
	margin-bottom: 45px;
	border: none;
	border-radius: 5px;
	background-color: #e4e1e1;	
}

.feedback-button {
display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 731px;
	height: 72px;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

.contacts {
	box-sizing: border-box;
	position: relative;
	color: #e0e0e0;
	background-color: #2c2c2c;
	box-sizing: border-box;
	padding: 107px 70px 125px 81px;;
	min-height: 485px;
	max-width: 580px;
	/* grid-column: 4 / 5; */
	/* grid-row: 2 / 3; */
}

.contacts-name {
	color: #FFFFFF;
	font-size: 18px;
	margin-bottom: 13px;
	text-transform: uppercase;
	letter-spacing: 0.32px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.address {
	line-height: 1.75;
}

.contacts-text {
	margin-bottom: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	max-width: 315px;
}

.right-box {
	min-height: 485px;
	flex: 1 1 auto;
}

.contacts-decor {
	background-color: #2D2D2D;
}

.contacts::after {
	/* content: ''; */
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	
	width: 100vw;
	height: 100%;
	background-color: #2D2D2D;
}

footer {
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 29px;
    margin-left: auto;
	padding: 0 1vw;
	background-color: #2D2D2D;
	padding-left: 110px;
	padding-right: 110px;
	max-width: 1249px;
    height: 113px;
}

.footer-info {
    box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 25px 0 0;
	align-items: center;
	justify-content: space-between;
	color: #B8B8B8;
}

.copy-info {
    color:  #B8B8B8;
    font-size: 16px;
	margin-bottom: 53px;
	margin-left: 171px;
	line-height: 26px;
	letter-spacing: 1px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.social-icons {
	min-width: 185px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.social-icons a {
      display: inline-block;
}



@media screen and (max-width: 1286px) {
	
	.page1-text {
		width: 50%;
		box-sizing: border-box;
		margin-right: 0;
		padding-right: 15px;
	}
	 h1 {
		font-size: 5vw;
	}
	.link {
		width: 50%;
	}
	.image {
		width: 100%;
		height: auto;
	}
	.products {
		justify-content: flex-start;
	}
	.foto {
		max-width: 100%;
		margin-right: 1vw;
	}

	.page6-text {
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0 1vw;
		grid-column: 1 / 6;
		grid-row: 1 / 2;
	}
	.page6-forms {
		margin-right: 0;
	}
	.page6 {
		flex-wrap: wrap;
		padding-left: initial;
		padding-right: initial;
		padding-bottom: 0;
		grid-template-columns: 100%;
	}
	
	.contacts {
		width: 100%;
		max-width: 100%;
		grid-column: 1 / 6;
		grid-row: 2 / 3;
	}
	
	.page6::after {
		content: initial;
	}
}

@media screen and (max-width: 907px) {
	.page2-text,
	.page2-blocks {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.ppage3-menu {
		width: 100%;
		text-align: center;
	}
	.page2 {
		justify-content: center;
	}
}

@media screen and (max-width: 855px) {
	.team {
		grid-template-columns: 100%;
		grid-template-rows: auto;
	}
	.team-name {
    	grid-row: 1 / 2;
		margin-bottom: 18px;
		margin-right: 0;
	}
	.team-description {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.people {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
} 

@media screen and (max-width: 800px) {
	.page2-text {
		width: 100%;
		max-width: 100%;
	}
	.page2-blocks {
		width: 100%;
		max-width: 100%;
	}
	.contacts {
		padding: 1vw;
	}
}

@media screen and (max-width: 760px) {
	.feedback-name,
	.feedback-mail,
	.feedback-message,
	.feedback-button {
		width: 100%;
	}
	.feedback-name {
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	header {
		padding-left: 20px;
	}
	.page1 {
		flex-wrap: wrap;
	}
	.page1-text {
		width: 100%;
	}
	.link {
		width: 100%;
	}
	.image {
		width: 100%;
		height: auto;
	}
	h1 {
		font-size: 50px;
	}
}